<div class="t4s-container wiki-section">
  <div class="wiki-header">
    <h1 class="wiki-title">{{ page.title }}</h1>
  </div>

  <div class="wiki-page-content">
    {{ page.content }}
  </div>

  {% assign coll_handle = page.metafields.custom.collection_handle %}
  {% assign products_count = collections[coll_handle].products_count | plus: 0 %}
  {% if collections[coll_handle] and products_count > 0 %}
    <div class="wiki-collection">
      <h2>Shop {{ collections[coll_handle].title }} Sarees</h2>
      <div class="t4s-row">
        {% assign col = 't4s-col-lg-3 t4s-col-md-4 t4s-col-6' %}
        {% for product in collections[coll_handle].products %}
          <div class="{{ col }}">
            {% render 'product-grid-item1',
              product: product,
              col: col,
              prefix_url: '',
              isGrowaveWishlist: false,
              show_img: true,
              show_vendor: false,
              use_link_vendor: false,
              enable_pr_color: false,
              show_cl_type: '1',
              get_color: 'color',
              enable_pr_size: false,
              pr_size_pos: '1',
              get_size: 'size',
              show_size_type: '1',
              price_varies_style: '',
              app_review: '',
              enable_rating: false,
              use_countdown: false,
              imgatt: 'loading=\"lazy\" decoding=\"async\"',
              show_list_btns: false,
              placeholder_img: settings.placeholder_img,
              show_badges: false %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
